<p><%= flash[:notice] %></p>
<table border=2>
  <thead>
    <th> S No </th>
    <th> Name </th>
    <th> Teams </th>
  </thead>
  <tbody>
    <% @users.each_with_index do |u, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= u.name %></td>
        <td><%= render "team_form", user: u %></td>
      </tr>
    <% end %>
  </tbody>
</table>